.App {
  background-image: url("./img/bkg.jpg");
  background-size: cover;
  min-height: 100vh;
}

/*nav*/
.menu {
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#Layer_1 {
  width: 150px;
  height: 120px;
}

.logo a {
  text-decoration: none;
  color: darkgreen;
  margin-left: 4%;
  font-size: 93px;
}

.menu Button {
  width: 90px;
  height: 10vh;
  font-size: x-large;
}

.menuIcons {
  margin: 1% 3% 0 0;
  width: 50%;
  height: 28%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: nowrap;
}

/*advirement*/
.advertisement {
  border: solid darkgreen;
  height: 10vh;
  display: flex;
  justify-content: center;
}

/*SearchBar*/
.search_bar {
  margin-top: 1%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.search_bar input {
  width: 68rem;
  border-radius: 5%;
  font-size: x-large;
}

.search_bar Button {
  height: 6vh;
}

/*footer*/
.footer {
  margin-top: 1%;
  width: 100%;
  clear: both;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 25px;
}

/*home*/
.welcome {
  display: flex;
  flex-direction: row;
  height: auto;
}

h2 {
  font-family: „Comic Sans MS”, cursive, sans-serif;
  font-size: 35px;
  margin-left: 40%;
}

.uniwersal_window {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*userprofile*/
.user_data {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.user_data img {
  margin: 0 8% 0 8%;
  width: 170px;
  height: 190px;
  border: solid black;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.data p {
  margin: 10% 0 0 0;
  border: solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.data_change {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #81fd81a2;
}
.css-l74ivx-MuiAvatar-root {
  width: fit-content;
}

/*user plants*/
.my_jungle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.title_page {
  margin-top: 1%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
}

.user_plants {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plants {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plant {
  width: 335px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid #383838;
}

.plant_data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/*Plant*/
.plant_Id {
  display: flex;
  flex-direction: column;
}

.basic_data {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.basic_data img {
  width: 20vw;
  height: 30vh;
}

.category_bar {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.category_bar Button {
  margin-left: 1%;
  width: fit-content;
}

.names_plant label {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.latin_name {
  font-style: italic;
}

.category_window {
  margin: 1% 1% 1% 1%;
}

/*Note*/
.note{
  width: 100%;
  height: 180px;
  background-color:navajowhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.note input{
  margin: 3% 0 3% 0;
  font-size: x-large;
  background-color:navajowhite;
  border: none;
}

/*marketplace*/
.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search_ad {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.search_ad input {
  width: 80%;
}

.search_ad Button {
  width: 350px;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul {
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content li {
  cursor: pointer;
  list-style-type: none;
  box-shadow: 5px 5px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.announcements {
  margin-top: 1%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.announcement {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.announcement img {
  width: 30%;
}

.desc_announcement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/*plantforum*/
.plant_forum {
  margin-top: 1%;
  display: flex;
}

.plant_forum img {
  width: 90px;
  height: 100px;
}

.nav_forum {
  margin: 0% 0% 0% 1%;
  width: 16vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav_forum Button {
  margin-bottom: 5%;
  width: 180px;
  height: 70px;
}

.search_posts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.display_category {
  width: 83vw;
  height: 55vh;
  border: solid black;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: rgb(199, 195, 195);
}

.post_content {
  text-align: center;
  font-size: x-large;
}


/*plantclass*/
.search {
  margin: 1% 0% 3% 1%;
  display: flex;
}

.catalog {
  margin: 1% 0% 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plantt {
  margin: 1% 2% 0 0;
  width: 20%;
  height: 100px;
  border: solid green;
}

.plants_category img {
  height: 400px;
}

.category_plant {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
}

.selected_plantclass img {
  height: 500px;
}

.category_plant p {
  font-family: „Comic Sans MS”, cursive, sans-serif;
  font-size: larger;
}

/*registration*/
.start {
  display: flex;
  flex-direction: column;
}

.menu_start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid darkgreen;
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact a {
  margin-top: 3%;
  font-size: xx-large;
}

.enter_data {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.media_registration {
  margin: 2% 0 2% 0;
  display: flex;
  border: solid darkgreen;
  justify-content: space-around;
}

Button {
  width: 218px;
  height: 88px;
  background-color: darkgreen;
}