.App {
  background-color: #c7eb8e;
}
.houseplants {
  background-image: url("./img/bkg.jpg");
  border: solid black;
  width: 94%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .houseplants {
      width: 720px;
  }
}
@media (min-width: 1024px) {
  .houseplants {
      width: 960px;
  }
}
@media (min-width: 1440px) {
  .houseplants {
      width: 1100px;
  }
}
.logo{
  width: 10%;
}
img{
  width: 87%;
}
.header{
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1{
  font-family: „Comic Sans MS”, cursive, sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search{
  border: solid black;
  display: flex;
  flex-direction: row;
}
input{
  width: 100%;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.calendar{
  border: solid black;
  min-width: 50%;
  background-color: darkseagreen;
}
.plant_class{
  border: solid black;
  max-width: 50%;
}
.icons{
  border: solid black;
  background-color: darkseagreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.advertisement{
  border: solid black;
}
.menu{
  border-radius: 5px;
  background-color: #97b36b;
  width: 100%;
  margin-right: 0%;
}
 li a{
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: large;
  font-family: „Comic Sans MS”, cursive, sans-serif;
}
button{
  min-width: 10%;
  background-color: #97b36b;
  font-size: x-large;
}